@model FlyBuy.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="account-page">
        @Html.ValidationSummary(true, "A problem happned go  back to list", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="container">
            <div class="row">
                <div class="col-2">

                    <div class="form-container form-container-2">

                        <div class="form-btn">
                            <span>Edit @Model.Name  </span>
                        </div>

                        <div class="form-control form-control-2">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-edit", placeholder = "Product Name" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <input type="submit" value="Edit" class="btn btn-default" />
                            @Html.ActionLink("Back to List", "Index", "Categories", new { @class = "btn btn-fix" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


}

