@model IEnumerable<FlyBuy.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/TableStyle.css" />
<link rel="stylesheet" href="~/Content/MainStyle.css" />

<div class="body">

    <h2>@Html.ActionLink("Create New", "Create", "Categories", new { @class = "btn" })</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Categories", new { id = item.Id }, null) |

                            @Html.ActionLink("Delete", "Delete", "Categories", new { id = item.Id }, null)
                        </td>
                    </tr>
                }
            <tbody>
        </table>
    </div>
</div>